body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.follow{
    height: 50px;
    background-color: black;
    width: 100%;
}
.follow ul li{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 700px;
}
.follow ul li h4{
    color: white;
    text-align: left;
}
.follow ul li a{
    color: white;
}
#header{
    height: 100px;
    background-color: #0693e3;
    width:100%;
    line-height: 100px;
    text-align: center;
    margin-bottom: 5px;
}
img{
    height: 100px;
    width: 100px;
    float: left;
}
#header ul li{
    list-style: none;
    display: inline-block;
}
#header ul li a{
    color: white;
    padding: 30px 65px;
    font-size: 20px;
    text-decoration: none;
    animation: doimau 1s infinite;
    font-weight: bold;
}
#header ul li a:hover{
    background-color:#8ed1fc;
    font-size: 25px;
}
#cart{
    margin-bottom: 5px;
}
button{
    padding-left: 400px;
    padding: 16px 370px;
    border-radius: 5px;
    color: white;
    background-color: rgb(71,163,220);
    border: none;
    cursor: pointer;
}
button:hover{
    background-color:blue;
    font-size: 15px;
}
@keyframes doimau{
    from{
        color:white;
    }
    to{
        color: black;
    }
}
.menu2{
    font-size: 15px;
    padding: 0px 0px;
}
.footer{
    background-color:gainsboro;
    height: 120px;
    color: rgba(0,0,0,.5)

}
.main5{
    height: 100px;
    width: 100%;
    background-color: #0693e3;
}
.main5 ul li{
    display: inline-block;
    font-size: 30px;
    padding: 16px 60px;
    margin-top: 20px;
}
table tr td a{
    text-decoration: none;
    color: black;
}